---
layout: default
---

<div>
    {% if paginator.total_pages > 1 %}

    <ul class="list-unstyled">
        {% for post in paginator.posts%}
        <li>
            <p class="h4">
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </p>

            {%- if site.show_excerpts -%}

            {{ post.excerpt }}

            <h4>
                <a class="post-meta" href="{{ post.url | relative_url }}">
                    [read more]
                </a>
                <h4>

                    {%- endif -%}

                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <span class="post-meta">posted on: {{ post.date | date: date_format }}</span>

                    <hr></hr>
                </h4>

        </li>
        {%- endfor -%}
    </ul>

    {%- endif -%}

    <!-- Pagination links -->
    <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">
                <<
            </a>
        {% else %}
            <span class="previous"> << </span>
        {% endif %}
            <span class="page_number ">
                {{ paginator.page }} of {{ paginator.total_pages }}
            </span>
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next"> >>  </a>
        {% else %}
            <span class="next "> >> </span>
        {% endif %}
    </div>
</div>