---
layout: default
---

<div>

    {%- if page.title -%}
    <header>
        <h1>{{ page.title }}</h1>
    </header>
    {%- endif -%}

    {% if paginator.total_pages > 1 %}

        {%- if site.posts.size > 0 -%}
        <ul class="list-unstyled">
            {% for post in paginator.posts%}
            <li>
                
                <div class="card border-light mb-3">
                        <div class="card-header">
                            <a class="h4" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                        </div>
                        <div class="card-body">
      
                            <div class="card-text">{{ post.excerpt }}</div>

                            <a class="text-muted card-text" href="{{ post.url | relative_url }}">
                                [read more]
                            </a>
                        </div>
                        <div class="card-footer text-muted">
                            {%- assign date_format = "%b %-d, %Y" -%}
                            {{ post.date | date: date_format }}
                        </div>
                </div>

            </li>
            {%- endfor -%}
        </ul>

        {%- endif -%}

    {%- endif -%}

    <!-- Pagination links -->
    <ul class="pagination">
        {% if paginator.previous_page %}
            <li class="page-item">
                <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">Previous</a>
            </li>
        {% else %} 
            <li class="page-item disabled">
                <span class="page-link" aria-disabled="true">Previous</span>
            </li>
        {% endif %} 
        
        <!-- <span class="page_number ">
            {{ paginator.page }} of {{ paginator.total_pages }}
        </span> -->

        {% if paginator.next_page %}
            <li class="page-item">
                <a class="page-link" href="{{ paginator.next_page_path | relative_url }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-disabled="true">Next</span>
            </li>
        {% endif %}
    </ul>
</div>
